/* CSS 노말라이즈 */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  color: inherit;
}

#app {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/*========================== Main.js에 대한 CSS==================================*/

.btn-nomal-main {
  background-color: transparent;
  float: left;
  margin: 5px;
  color: #f3f3f3;
  border: none;
  font-size: 20px;
}

.nav-main {
  color: #f3f3f3;
  margin: 5px;
}

.main-login {
  float: right;
  margin-right: 10px;
  border: 1px solid white;
}

/*메인 에서 상단 파란 배경 전체를 담는 최 상단*/
.mainFrame {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #2e68b8;
  flex-direction: column;
  padding: 20px;
}

/*  어떤 아파트를 찾으세요 ~ 지역 또는 단지 검색 까지 묶음*/
.center-main {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 50px;
}

.mainQuestion {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
}

.btn-main {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin: 5px 5px 5px 0px;
}

.btn-area {
  width: 100%;
  text-align: left;
  position: relative;
  display: inline-block;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 5px;
}

.search-in-icon {
  position: relative;
  width: 600px;
}

.search {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
  border: 1px solid #bbb;
}

.icon-main {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
  background-color: transparent;
  border: none;
}

.bottom-area {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 50px;
  font-size: 20px;
}

.introduce {
  font-size: 16px;
  padding: 17px;
}

.recommend-high {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.recommend-frame {
  border: 1px solid black;
  width: 260px;
  height: 180px;
  display: inline-block;
  margin: 3px;
  padding: 15px;
  font-size: 20px;
}

/*========================== Main.js에 대한 CSS==================================*/

/* =========================로그인 화면에 대한 CSS=============================== */
.App {
  text-align: center;
}
.App-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
/* =========================로그인 화면에 대한 CSS=============================== */

/* =======================회원가입에 대한 페이지 css======================== */

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 280px;
  margin: -100px auto;
}

.box-2 > .logo {
  width: 100px;
}
.inputs {
  border: 1px solid #dbdbdb;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  margin-top: 12px;
}

.button {
  background-color: #35c5f0;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
  margin-top: 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all.3s;
}

.button:hover {
  background-color: #09addb;
}

.moveToLogin {
  cursor: pointer;
  margin-left: 10px;
}
.moveToLogin:hover {
  color: red;
}

/* =======================회원가입에 대한 페이지 css======================== */
